@import url('https://fonts.googleapis.com/css?family=Fira+Sans')

$white: #fff
$gray-shade: rgba(0, 0, 0, .2)
$theme-primary: #03A9F4
$theme-primary-light: #B3E5FC

$gutter: 1em

html,
body
  font: 16px 'Fira Sans'
  background: #eee
  margin: 0

input,
textarea
  padding: .5em
  font: 14px 'Fira Sans'

html,
body,
app,
main
  height: 100%
  display: block

main
  display: flex

form
  display: flex
  flex-direction: column

content
  display: flex
  padding: $gutter
  padding-left: 11em
  align-items: center
  justify-content: center
  flex-wrap: wrap
  width: 100%

  &[data-flow="vertical"]
    flex-direction: column

  &[data-align="left"]
    align-items: flex-start
    justify-content: flex-start

  h2
    //margin: 0

  input
    padding: $gutter / 2
    margin: $gutter 0

    &[type="file"]
      padding: 0

  select
    padding: .5em

  select,
  textarea
    margin: $gutter 0

  button
    border: none
    border-radius: 3px
    color: $white
    background: $theme-primary
    padding: $gutter $gutter * 2

input,
button
  display: block

aside
  display: flex
  flex-direction: column
  height: 100%
  width: 10em
  background: $theme-primary-light
  position: fixed

  a
    padding: $gutter
    color: #333
    text-decoration: none

    &.current
      background: rgba(3, 169, 244, 0.42)

card-component
  display: flex
  background: $white
  margin:  0 $gutter $gutter 0
  padding: $gutter
  box-shadow: 1px 1px 5px $gray-shade
  min-width: 14em
  min-height: 10em
  justify-content: space-around
  flex-direction: column
  align-items: center

  a
    color: #000
    text-decoration: none
    font-weight: bold

h2
  text-align: center
  margin: 1em auto

img
  max-width: 12em
  max-height: 10em

  &.photo
    margin: 1em auto
    max-width: 25em
    max-height: unset

.preview
    max-width: 20em
    margin: 0 auto
    margin-bottom: 1em

.separator
  flex-grow: 1

.search
  margin: 1em
  border-radius: 5px
  border: 1px solid rgba(3,169,244,0.42)
